<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/map_style.css">
  <title>The Better Teton County, WY GIS Hub</title>
  <meta name="description" content="Explore Teton County, WY's best GIS hub for property ownership, land data, and interactive mapping. Search land records and visualize Teton County in new ways." />
  <link rel="icon" href="/static image.jpg" />
  <link rel="icon" href="/static image.jpg" type="image/x-icon">
  <link rel="preload" as="image" href="/assets/images/test.svg">
<script defer src="/static/js/bundle.js"></script></head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>
</html>
